@model expense_traker.Models.Category

@{
    ViewData["Title"] = "Elimna Categoria";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!--Card-->
            <div class="card">
                <!--Card Header -->
                <div class="card-header">
                    <h3>Vuoi eliminare questa catgoria??</h3>
                </div>
                <!--Card Body -->
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Title
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Icon)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Icon
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Type
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="col-md-6 ">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="row">
                                <div class="col-md-auto ">
                                    <input type="submit" value="Elimina" class="btn btn-danger" />
                                </div>
                                <div class="col-md-auto ">
                                    <a asp-action="Index" class="btn btn-primary">Torna alla lista</a>
                                </div>
                            </div>   
                        </form>   
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<h3>Vuoi eliminare questa catgoria??</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
-->
